.card{
    width: 30%;
    min-height: 300px;
    background-color: rgb(6, 107, 107);
    border: 1px solid white;
    float: left;
}
.card-image{
    width: 100%;
    height: 300px;
}
.card-head{
    text-align: center;
    text-decoration: underline;
}
